body{
    margin: 0px;
    padding: 0px;
}
.container{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
    width: 100vw;
    
}
#biground{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    font-size: xx-large;
    background-color: blue;
    border-radius: 50%;
}
#round1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 49px;
    right: 85px;
    height: 80px;
    width: 80px;
    border: none;
    color: aliceblue;
    font-size: 40px;
    background-color: aqua;
    border-radius: 50%;
}
#round2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 135px;
    left: 90px;
    height: 80px;
    width: 80px;
    border: none;
    color: aliceblue;
    font-size: 40px;
    background-color: blueviolet;
    border-radius: 50%;
}
